<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <style>
            * { box-sizing: border-box; margin: 0; padding: 0; }
            html, body { height: 100%; width: 100%; }
            body { background-color: #CCCCEE; }
            .header { background-color: #444466; color: #CCCCEE; padding: 10px; }
            .sleeve { max-width: 900px; margin: auto; }
            h1, p { margin: 20px 0px }
        </style>
    </head>
    <body style="display: flex; flex-flow: column">
    {% block body %}

        {% block headertag %}
        <div class="header">
        {% block header %}

            <div class="sleeve">
                <span style="font-family: sans-serif; font-size: 200%">
                    The New Website
                </span>
            </div>

        {% endblock header %}
        </div>
        {% endblock headertag %}

        {% block workspacetag %}
        <div class="workspace" style="flex-grow: 1">
        {% block workspace %}

            <div class="sleeve">
                {% block document %}{% endblock document %}
            </div>

        {% endblock workspace %}
        </div>
        {% endblock workspacetag %}

    {% endblock body %}
    </body>
</html>
