{% extends "theme/base.html" %}

{% block workspace %}
     <div style="display: flex; height: 100%; width: 100%;      
                 align-items: center; justify-content: center;">       
                                                                       
         <div style="background-color: white; width: 50%; height: auto; 
                     padding: 20px; border-radius: 20px">                          
             {% block incentre %}{% endblock incentre %}          
         </div>                                                                      
                                                                                     
     </div>                                                                          
{% endblock workspace %}
